.idea
backend/node_modules
/backend/static/*.jpg
!/backend/static/default_avatar.jpg
/backend/.env
/frontend/node_modules
/frontend/.env
/todo.js
/pythonForDeploy/.idea
/pythonForDeploy/venv
/pythonForDeploy/*.jpg